*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
/* heading and background image*/
.header{
    min-height: 100vh;
    width: 100%;
    background-image: url(deff.jpg);
    background-size: cover;
    position: relative;

}

nav{
    display: flex;
    padding: 1% 2%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 200px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 0.1px 15px ;
    position: relative;
}

/* navigation text size and color*/
.nav-links ul li a{
    color: black;
    text-decoration: none;
    font-size: 15px;
}

/* hover effect for nav*/
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: black;
    display: block;
    margin: auto;
    transition: 0.4s;
}
.nav-links ul li:hover::after{
    width: 100%;
}

/* company name and color and alignment */
.text-box{
    width: 90%;
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 38px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: black;
}

/* hover effect for visit us to know more button */
.button{
    display: inline-block;
    text-decoration: none;
    color: rgb(253, 253, 253);
    border: 1px solid white ;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.button:hover{
    border: 1px solid #f44336; 
    background: #f44336;
    transition: 0.8s;
}

/* to hide menu and close bar for large screen */
nav .fa{
    display: none;
}

/* for smaller screen */
@media(max-width: 700px)
{
    .text-box h1{
        font-size: 22px;
    }
    .nav-links ul li a{
        color: white;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: fixed;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        /*transition: 1s;*/
    }
    nav .fa{
        display: block;
        color: white;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 40px;
    }
}

/*-----footer-----*/
.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}
.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;

}
.icons .fa{
    color: red;
    margin: 0 10px;
    cursor: pointer;
    padding: 18px 0px;
}

/*  contact us page */

.sub-header{
    height: 80vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(contact.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    text-align: center;
    color: white;
    
}
.heading{
    margin-top: 40px;
    font-size: 50px;
}

.contact-us{
    width:80%;
    margin: auto;
}
.contact-col{
    flex-basis: 48%;
    margin-bottom: 70px;
}
.contact-col div{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.new{
    border: 1px solid #f44336;
    background: transparent;
    color: #f44336;
}
.new:hover{
    color: #fff;

}
.contact-col input, .contact-col textarea{
    width: 100%;
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.available-soon{
    text-align: center;
    margin-top: 120px;
    font-size: 40px;
}

/*--  contact form using js --
.container{
    width: 100%;
    height: 100vh;
    background: navy;
    display: flex;
    align-items: center;
    justify-content: center;
} */

/*-- about us .html -- front look*/
.header-aboutus{
    min-height: 75vh;
    width: 100%;
    background-image: url(about.jpg);
    background-size: cover;
    position: relative;

}
.aboutus{
    margin-top: 80px;
    font-size: 35px;
    text-align: center;
    color: #000000;
   
}

/*--- dark over card effect about persons --*/
.about{
    margin-top: 30px;
    margin-bottom: -30px;
    padding: 0;
    min-height: 40vh;
    background: rgb(87, 84, 84);
    display: flex;
    /*justify-content: center;*/
    flex-direction: column;
    align-items: center;
    font-family: consolas;
}

.container {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.container .card {
    width: calc(33.33% - 30px);
    margin-bottom: 30px;
    position: relative;
    cursor: pointer;
}

.container .card .face{
    width: 300px;
    height: 200px;
    transition: 0.5s;
}

.container .card .face.face1{
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.container .card:hover .face.face1{
    background: #c42c69;
    transform: translateY(0);
}

.container .card .face.face1 .content{
    opacity: 0.2;
    transition: 0.4s;
}

.container .card:hover .face.face1 .content{
    opacity: 1;
}


.container .card .face.face1 .content h3{
    margin: 10px 0 0;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
}

.container .card .face.face2{
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    transform: translateY(-100px);
}

.container .card:hover .face.face2{
    transform: translateY(0);
}

.container .card .face.face2 .content p{
    margin: 0;
    padding: 0;
}

.container .card .face.face2 .content a{
    margin: 15px 0 0;
    display:  inline-block;
    text-decoration: none;
    font-weight: 900;
    color: #333;
    padding: 5px;
    border: 1px solid #333;
}

.container .card .face.face2 .content a:hover{
    background: #333;
    color: #fff;
}
@media(max-width: 700px)
{
    .container{
        width: 300px;
        position:relative;
        align-items: center;
        display:block;
        align-content: center;
        justify-content: space-between;
    }
}
@media (max-width: 900px) {
    .container .card {
        width: calc(50% - 30px);
    }
}

@media (max-width: 600px) {
    .container .card {
        width: 100%;
    }
}